@font-face {
	font-family: 'HeronSans-Bold';
	src: url('../fonts/HeronSans-Bold.eot') format('eot'), url('../fonts/HeronSans-Bold.otf') format('woff'), url('../fonts/HeronSans-Bold.ttf') format('woff'), url('../fonts/HeronSans-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HeronSans-Light';
	src: url('../fonts/HeronSans-Light.eot'), url('../fonts/HeronSans-Light.otf') format('woff'), url('../fonts/HeronSans-Light.ttf') format('woff'), url('../fonts/HeronSans-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'HeronSans-Light';
}

.bg-logos { background: #2E305B; }
.bg-logos-blue { background: #1565C0; }
.badge-logos {
    color: #fff;
    background-color: #2E305B;
}

.btn-logos {
    color: #fff !important;
    background-color: #2E305B !important;
    border-color: #2E305B !important;
}

.btn-logos:hover {
    color: #fff !important;
    background-color: rgb(35, 37, 70) !important;
    border-color: rgb(35, 37, 70) !important;
}

/** Text y font*/
.text-logos {color: #044C5D; }
.bold { font-weight: bold; }
.f-12 { font-size: 1.2rem; }
.f-09 { font-size: .9rem; }
.f-08 { font-size: .8rem; }
.f-07 { font-size: .7rem; }


/** Tamanho do fonte */
.f-07 { font-size: .7rem; }
.f-08 { font-size: .8rem; }
.f-09 { font-size: .9rem; }
.f-12 { font-size: 1.2rem; }
.f-14 { font-size: 1.4rem; }

/** Header */
.banner {
    background: url(../images/fundo.jpg) no-repeat center center;
    background-size: cover;
    height: 50vh;
}


/** Footer */
#footer a { color: #fff; }
#footer a:hover { color: #bdbdbd; text-decoration: none; }


.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-25%)
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}